# ./.gitignore

# Ignore Python virtualenvs
arch_shazam/
venv/
__pycache__/

# Ignore generated outputs
generated_images/
output/
params.json
*.blend

# Image Saving Directory
/generated_images

# Models
/models
/shap-e
/shap_e_model_cache

# Tunes
/tunes