# ./.gitignore

# Ignore Python virtualenvs
env_archi_shazam/
archi_shazam_python31111/
venv/
__pycache__/

# Ignore generated outputs
generated_images/
output/
params.json
*.blend

# Image Saving Directory
/generated_images

# Models
/models

# Tunes
/tunes