/* ./client/src/pages/GalleryPage.css */
.gallery-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.gallery-area {
    padding: 0.25rem;
    margin: 0 0.5rem;
    background-color: rgba(215, 215, 215, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
    border-radius: 0.5rem;
}

.gallery-area>summary {
    cursor: pointer;
    padding: 0.5rem;
    border-bottom: 2px solid black;
}

.gallery-area>summary:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-radius: 0.5rem;
}

.gallery-content {
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 24px;
    row-gap: 64px;
    justify-items: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}