/* ./client/src/compents/Footer.css */
.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 0.5rem;
}