/* ./client/src/components/Navbar.css */
.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-bottom: 2rem;
}

.navbar-menu a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-title {
    padding-right: 2rem;
}

.dropdown-content li button.logout-button {
    all: unset;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content li button.logout-button:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

.nav-area {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.nav-area a,
.nav-area button {
    color: rgba(255, 255, 255, 0.70);
}

.welcome-user {
    font-weight: bolder;
    color: rgba(255, 0, 0, 0.85);
}

.nav-area {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    all: unset;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.70);
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 1rem;
    background-color: rgba(215, 215, 215, 0.95);
    min-width: 260px;
    border-radius: 4px;
    padding: 0.5rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 0.05rem;
}

.dropdown-content li a {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-content li a:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 0.5rem;
}