/* ./client/src/components/Navbar.css */
.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.navbar-menu a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-title {
    padding-right: 2rem;
}

.logout-button {
    all: unset;
    cursor: pointer;
    font-weight: bolder;
}

.nav-area {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.nav-area a,
.nav-area button {
    color: rgba(255, 255, 255, 0.70);
}

.welcome-user {
    font-weight: bolder;
    color: rgba(255, 0, 0, 0.85);
}